h1{
    text-align: center;
    padding-top: 80px;
    font-size: 70px;
}
h2{
    text-align: center;

}
h3{
    text-align: center;
    padding-top: 60px;

}
h4{
    text-align: center;
}
.text-box{
    padding-left: 80px;
    padding-top: 50px;
}
.tabless{
    padding-left: 80px;
    padding-top: 20px;
}