<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>artists</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>63425</th>
      <td>['Erroll Garner']</td>
      <td>Night And Day</td>
    </tr>
    <tr>
      <th>152585</th>
      <td>['Randy Travis']</td>
      <td>Hard Rock Bottom of Your Heart</td>
    </tr>
    <tr>
      <th>102626</th>
      <td>['Bob Seger']</td>
      <td>Mainstreet - Live/Remastered</td>
    </tr>
    <tr>
      <th>123461</th>
      <td>['Casual Breakdown']</td>
      <td>My Shoes</td>
    </tr>
    <tr>
      <th>90905</th>
      <td>['Casual Breakdown']</td>
      <td>My Shoes</td>
    </tr>
  </tbody>
</table>